.hero {
  @include position();
  @include size(100vw, 90vh);

  &--pillar {
    max-height: 640px;
  }

  &__background {
    @include position(absolute);
    @include size(100%, 100%);
    background-size: cover;
  }

  &__background--pillar {
    background-color: #faf2fb;
    // background-image: url("./../../assets/images/ui/contentpage-header--background.svg");
    background-repeat: no-repeat;
    background-position: right top;
  }

  &__background--pillar-z {
    background-image: url("./../../assets/images/ui/contentpage-header--background.svg");
    background-repeat: no-repeat;
    background-position: right top;
    z-index: 3;
  }
  &__background--pillar-corner {
    background-image: url("./../../assets/images/ui/contentpage-header--background-smalll.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    z-index: 3;
  }

  &__title {
    font-weight: 900;
  }
  &__title--front-page {
    font-weight: 900;
    @include font-size(62px);
  }

  &__subtitle {
    color: color("grey");
    font-family: $paragraph-font-face;
    padding-left: 32px;
    // font-style: italic;
  }

  &__subtitle--front-page {
    color: color("white");
    font-family: $paragraph-font-face;
    @include font-size(32px);
    padding-left: 0;
    // font-style: italic;
  }

  &__content-wrapper {
    @include position(relative);
    @include size(100%, 100%);
    @include flex-center("vertical");
    @include containerWidth();
    margin: 0 auto;
    color: color("white");
    z-index: 4;
  }

  &__content-inner {
    @include innerspace(0, 2rem);
    max-width: $global-max-width--desktop;
  }

  &__content-inner--front-page {
    padding-top: 24rem;
  }

  &__actions-wrapper {
    width: 100%;
    @include position(absolute, auto, auto, 0px, 40px);
  }

  &__actions-inner {
    max-width: 1200px; //$global-max-width--desktop;
    text-align: right;
    margin: 0 auto;
    height: 40px;
    display: flex;
    justify-content: flex-end;
  }

  &__actions-cta {
    @include position;
    @include flex-center("center");
    @include size(150px);

    &:before,
    &:after {
      @include position(absolute, 0, 0);
      @include diamond();
      @include size(150px);
    }

    a {
      @include flex-center("center");
      @include size(120px);
      @include position(absolute, 15px, 15px);
      @include font-size(24px);
      font-family: "Helvetica Neue", "Helvetica", sans-serif;
      font-weight: 300;
      color: color("secondary");
      text-align: center;
      line-height: 140%;

      z-index: 3;
      text-decoration: none;
    }

    &:before {
      background: #fff;
      box-shadow: 0px 4px 16px 23px rgba(0, 0, 0, 0.15);
    }

    &:after {
      left: 10px;
      top: 10px;
      @include size(calc(150px - 20px));
      background: color("secondary-light");
    }
  }
}
