.supporters {
  background: color("white");

  &.section {
    margin-top: 0;
  }
  .section__inner {
    display: flex;
    justify-content: space-around;
  }
  .supporter {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}
