@mixin containerWidth() {
  @include mq('phone', 'min') {
    width: 100%;
  }
  @include mq('tablet', 'min') {
    width: 100%;
  }
  @include mq('desktop', 'min') {
    width: 1024px;
  }
}

.wp-block-group.alignfull.hvv {
  .wp-block-image.size-large {
    &.hvv {
      max-width: 750px !important;
    }
  }
}

.wp-block-group p {
  a {
    @include transition;
    text-underline-offset: 1px;
    color: color('secondary');

    &:hover {
      text-decoration-style: solid;
      text-decoration-skip-ink: inherit;
      color: color('primary');
    }
  }
}

/* ----------------------------------------
  Default image in post
---------------------------------------- */

.post-thumbnail {
  .wp-post-image {
    margin-top: 0;
  }
}

.post-thumbnail {
  @include position(absolute, auto, -140px, -100px, auto);
  width: 347px !important;
  height: 347px !important;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

  .wp-post-image {
    max-width: none;
  }

  &:before {
    content: '';
    width: 64%;
    height: 64%;
    border: 1px solid #fff;
    @include position(absolute, 18%, 18%);
    transform-origin: center center;
    transform: rotate(45deg);
  }
}

.post-thumbnail-diamond {
  @include position(absolute, auto, -50px, -140px, auto);
}

.post-thumbnail-diamond-shadow {
  @include size(200px);
  background: white;
  @include position(absolute, auto, -40px, -50px, auto);
  box-shadow: 1px 10px 42px 1px rgba(0, 0, 0, 0.52);
  transform: rotate(45deg);
}

/* ----------------------------------------
  Parallax diamonds for main content
---------------------------------------- */

article {
  .main-content-diamond-parallax {
    @include position(absolute, auto, 1000px, 0px, auto);
    @include size(100px, 200px);
    overflow: hidden;

    img {
      width: 200px;
      max-width: 200px;
    }

    &.light {
      opacity: 0.6;
    }
  }
}
