.team-member {
  max-width: 816px;
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq("tablet", "min") {
    display: flex;
  }

  &:nth-child(even) {
    .team-member__content {
      order: 0;
    }
    .team-member__image {
      order: 1;
      margin: 0 auto 2rem;

      @include mq("tablet", "min") {
        margin-left: 4rem;
        margin-right: 0;
      }

      &:before {
        left: -10px;
        top: 77px;
      }
    }
  }

  img {
    max-height: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  &__content {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
    h2 {
      font-family: $heading-font-face;
      @include font-size(24px);
      font-weight: 600;
      color: color("secondary");
      margin-bottom: 2rem;
    }
  }

  &__image {
    @include position;
    width: 150px;
    margin: 0 auto 2rem;

    @include mq("tablet", "min") {
      margin-right: 4rem;
      margin-bottom: 0;
    }

    .image-background {
      @include diamond(100px);
      @include position(absolute, 25px, 25px);
      background-color: color("white");
      box-shadow: 3px 4px 30px 6px rgba(0, 0, 0, 0.47);
      z-index: 0;
    }

    img {
      position: relative;
      z-index: 5;
    }
    &:before {
      @include diamond(60px);
      @include position(absolute, 100px, 30px);
      background-color: color("secondary-light");
    }

    &:after {
      @include diamond(100px);
      @include position(absolute, 25px, 25px);
      background-color: transparent;
      border: 1px solid color("white");
      z-index: 5;
    }
  }
}

/* ----------------------------------------
  BOARD MEMBERS
---------------------------------------- */

.team-board--members-overview {
  display: grid;
  grid-template-columns: 1fr;

  @include mq("tablet", "min") {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}

.team-board-member {
  background: color("white");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;

  @include mq("tablet", "min") {
    margin-bottom: 0;
  }

  &__inner {
    @include innerspace(1rem);
  }

  &__image {
    @include size(100%, 200px);
    img {
      object-fit: cover;
      object-position: center center;
      @include size(100%);
    }
  }

  &__content {
    a {
      text-decoration: none;
      pointer-events: none;
      h2 {
        @include font-size(18px);
        margin: 2rem 0 0 1rem;
        color: color("secondary");
        font-weight: 600;
      }
    }
  }

  p {
    // width: 240px;
    font-family: $paragraph-font-face;
    @include truncate-multiline(3, 160%, 16px);
    @include innerspace(0, 1rem);
    margin-top: 1rem;
  }
  // Title / header
  & > a {
    padding: 0;
  }

  .team-board-member__category {
    display: none;
  }
}
