// Mixins - Huisvanvervoering
/* prettier-ignore-start */
@import "mixins/diamond", "mixins/layout";

@import "ui/buttons/buttons", "ui/typography/typography";

@import "components/navigation/navigation",
  "components/navigation/post-navigation", "components/footer/footer",
  "components/supporters/supporters", "components/join/join-action-block",
  "components/latestposts/latestposts", "components/quote/quote",
  "components/hero/hero", "components/cta/homepage-cta",
  "components/team/team-member", "components/headers/header-pillar",
  "components/share/share", "components/forms/forms",
  "components/lab/lab-excerpt", "components/summerschool/summerschool-programs",
  "components/mediatext/mediatext";

@import "views/general", "views/blog-single", "views/team", "views/homepage",
  "views/entry-header", "views/site-header", "views/page-pillar", "views/lab",
  "views/inhouse-productions";

body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: color("white");
  color: color("grey");
  overflow-x: hidden;
}
