
@import
  'ui/buttons/buttons';

@import
  'components/navigation/navigation',
  'components/footer/footer',
  'components/supporters/supporters',
  'components/join/join-action-block',
  'components/hero/hero';



body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}