.entry-content > .wp-block-group.alignfull.quote.hvv {
  background-color: color('secondary');
  max-width: none;

  .wp-block-group__inner-container {
    @include containerWidth;
  }

  .wp-block-quote {
    max-width: 650px;
    margin-left: 0 !important;
    @include outerspace(4rem, 0px);
    text-align: left;

    // Quatation mark
    &:before {
      font-family: $heading-font-face;
      font-style: italic;
      font-size: 48px;
      color: color('white');
      top: -10px;
    }

    // Acutal quote and Cite
    p {
      font-family: $heading-font-face;
      font-style: italic;
      font-size: 32px;
      line-height: 160%;
      font-weight: 300;
      text-align: center;
      color: color('white');

      &:first-letter {
        margin-left: 32px;
      }
    }

    cite {
      font-family: $paragraph-font-face;
      font-weight: 900;
      color: color('white');
      @include position(relative, 8px);
      @include font-size(10px);
      font-style: italic;
      padding-left: 32px;

      @include mq('tablet', 'min') {
        @include font-size(12px);
        left: 148px;
        padding-left: 64px;
        @include position(relative, 32px);
      }

      // Cite lines before/after
      &:before,
      &:after {
        content: '';
        height: 1px;
        width: 16px;
        background-color: color('white');
        z-index: 4;
        @include position(absolute, 0px, 50%);

        @include mq('tablet', 'min') {
          width: 48px;
        }
      }

      &:after {
        left: calc(100% + 16px);
      }
    }
  }

  /* ----------------------------------------
    A WIDER VERSION OF THE QUOTE
  ---------------------------------------- */

  &.quotewide {
    .wp-block-quote {
      max-width: none !important;
    }
  }

  /* ----------------------------------------
    BLACK AND WHITE VERSION OF THE QUOTE
  ---------------------------------------- */
  &.blackwhite {
    background-color: color('white');

    .wp-block-quote {
      p,
      cite {
        color: color('black');
      }

      cite {
        &:before,
        &:after {
          background-color: color('black');
        }
      }
    }
  }
}
