.entry-content > .wp-block-group.alignfull.quote.hvv {
  background-color: color("secondary");
  max-width: none;

  .wp-block-group__inner-container {
    @include containerWidth;
    // padding: 2rem;
    // @include mq("tablet", "min") {
    //   max-width: 1024px;
    //   @include innerspace(4rem, 0rem);
    // }
    // @include mq("desktop", "min") {
    //   max-width: 100%;
    // };
  }

  &.quotewide {
    .wp-block-quote {
      max-width: none !important;
    }
  }

  .wp-block-quote {
    max-width: 650px;
    margin-left: 0 !important;
    @include outerspace(4rem, 0px);
    text-align: left;

    // Quatation mark
    &:before {
      font-family: $heading-font-face;
      font-style: italic;
      font-size: 48px;
      color: color("white");
      top: -10px;
    }

    p {
      font-family: $heading-font-face;
      font-style: italic;
      font-size: 32px;
      line-height: 160%;
      font-weight: 300;
      text-align: center;
      color: color("white");

      &:first-letter {
        margin-left: 32px;
      }
    }

    cite {
      font-family: $paragraph-font-face;
      font-weight: 900;
      color: color("white");
      @include position(relative, 32px);
      @include font-size(12px);
      font-style: italic;
      padding-left: 64px;

      @include mq("tablet", "min") {
        left: 148px;
      }

      &:before,
      &:after {
        content: "";
        height: 1px;
        width: 48px;
        background-color: color("white");
        z-index: 4;
        @include position(absolute, 0px, 50%);
      }

      &:after {
        left: calc(100% + 16px);
      }
    }
  }
}
