/* ----------------------------------------
  Our primary colors for this project
---------------------------------------- */

$primary-colors: (
  "base": #5a5a5a,
  "primary": #90bfba,
  "secondary": #9a00b4,
  "secondary-light": #f6def9,
  "warning": rgb(255, 255, 0),
  "white": #ffffff,
  "black": #111111,
  "grey": #5a5a5a,
);

/* ----------------------------------------
  Combinations for loop for theming
  Beware, name must also be declared in $themes

  Usage: color: colorcombi(warning, background)

  If you need to include both colors in a field, use
  the mixin @themecombi('warning');
---------------------------------------- */

$color-combinations: (
  "base": (
    "background": map-get($primary-colors, "primary"),
    "color": map-get($primary-colors, "white"),
  ),
  "primary": (
    "background": map-get($primary-colors, "primary"),
    "color": map-get($primary-colors, "white"),
  ),
  "secondary": (
    "background": map-get($primary-colors, "secondary"),
    "color": map-get($primary-colors, "white"),
  ),
  "warning": (
    "background": map-get($primary-colors, "warning"),
    "color": map-get($primary-colors, "white"),
  ),
);
