/* ----------------------------------------
  Our primary colors for this project
---------------------------------------- */

$primary-colors: (
  'base': #5A5A5A,
  'primary': #90BFBA,
  'secondary': #9A00B4,
  'secondary-light': #F6DEF9,
  'warning': rgb(255, 255, 0),
  'white': #ffffff,
  'black': #111111
);

/* ----------------------------------------
  Combinations for loop for theming
  Beware, name must also be declared in $themes

  Usage: color: colorcombi(warning, background)

  If you need to include both colors in a field, use
  the mixin @themecombi('warning');
---------------------------------------- */

$color-combinations: (
  'base': (
    'background': map-get($primary-colors, 'primary'),
    'color': map-get($primary-colors, 'white')
  ),
  'primary': (
    'background': map-get($primary-colors, 'primary'),
    'color': map-get($primary-colors, 'white'),
  ),
  'secondary': (
    'background': map-get($primary-colors, 'secondary'),
    'color': map-get($primary-colors, 'white'),
  ),
  'warning': (
    'background': map-get($primary-colors, 'warning'),
    'color': map-get($primary-colors, 'white'),
  )
);
