p {
  &.hvv.intro {
    font-family: $heading-font-face;
    font-weight: 100;
    @include font-size(24px);
    line-height: 38px;
    color: color("grey");
    max-width: 650px !important;
    margin-left: 0 !important;
  }
}

.entry-content {
  .wp-block-group.hvv.intro {
    max-width: none;
    background-color: color("white");

    p {
      font-family: $heading-font-face;
      @include font-size(24px);
      line-height: 38px;
      color: color("grey");
      max-width: 650px !important;
      margin-left: 0 !important;
    }

    .wp-block-group__inner-container {
      @include containerWidth();
      padding: 0 2rem;
    }
  }
}

.entry-content p {
  font-family: $paragraph-font-face;
  @include font-size(18px);
  line-height: 28px;
  color: color("grey");
}

/* ----------------------------------------
  Title
---------------------------------------- */

.single-post {
  .entry-title {
    max-width: 650px;
  }
  // .entry-header {
  //   max-width: 650px;
  // }
}

/* ----------------------------------------
  Image in header-diamond
---------------------------------------- */

.single-post {
  .post-thumbnail {
    img {
      max-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
}

/* ----------------------------------------
  Image in paragraph text
---------------------------------------- */
.single-post {
  .wp-block-group {
    .wp-block-group__inner-container {
      p {
        margin-left: 0 !important;
      }

      figure {
        margin-left: 0 !important;

        img {
          max-width: 120%;
          margin-left: -10%;
        }
      }
    }
  }
}

.blog-meta-title {
  font-style: italic;
  font-family: $heading-font-face;
  // margin-bottom: 2rem;
  transform: translateY(-40px);
  opacity: 0;
  @include font-size(12px);
}

/* ----------------------------------------
  Posted by <Admin> on <Date>
---------------------------------------- */
.posted {
  transform: translateY(24px);
  font-family: $heading-font-face;
  font-style: italic;
  opacity: 0.6;
  @include font-size(12px);

  a {
    color: color("secondary");
    text-decoration: none;
  }
}
