.entry-content {
  p {
    &.hvv.intro {
    }
  }
}

.entry-content {
  .wp-block-group.hvv.intro {
    max-width: none;
    background-color: color("white");

    p {
      font-family: $heading-font-face;
      @include font-size(24px);
      line-height: 38px;
      color: color("grey");
      max-width: 650px !important;
      margin-left: 0 !important;
    }

    .wp-block-group__inner-container {
      @include containerWidth();
      padding: 0 2rem;
    }
  }
}

.entry-content p {
  font-family: $paragraph-font-face;
  @include font-size(18px);
  line-height: 28px;
  color: color("grey");
}

// *[class*=inner-container] > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),

.single-post {
  .wp-block-group {
    .wp-block-group__inner-container {
      p {
        margin-left: 0 !important;
      }
    }
  }
}
