.entry-header {
  &.hvv {
    @include flex-center("center");
  }

  &__inner {
    @include position();
    @include containerWidth();
    @include innerspace(0, 2rem);
  }
}

.entry-header {
  &.content-team {
    .post-thumbnail {
      position: absolute;
      left: auto;
      top: -660px;
      right: -400px;
      bottom: auto;
      width: 1000px !important;
      height: 1000px !important;
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    .post-thumbnail .wp-post-image {
      max-width: none;
      height: 100%;
      object-fit: cover;
    }

    .post-thumbnail:before {
      content: "";
      width: 64%;
      height: 64%;
      border: 1px solid #fff;
      position: absolute;
      left: 18%;
      top: 18%;
      right: auto;
      bottom: auto;
      transform-origin: center center;
      transform: rotate(45deg);
    }

    .entry-title {
      @include position;
      z-index: 2;
    }
  }
}
