.wp-block-group.alignfull.hvv {
  .wp-block-group__inner-container {
    @include innerspace(0, 2rem);
    text-align: left;
    @include containerWidth();

    & > p {
      max-width: 650px !important;
      // margin-left: 0 !important;
    }

    & > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-left: 0 !important;
      margin-top: 2rem;
    }
  }
}

.page {
  .wp-block-group.alignfull.hvv {
    .wp-block-group__inner-container {
      p {
        margin-left: 0 !important;
      }
    }

    .wpforms-container {
      margin-left: 0 !important;
    }

    .wp-block-columns {
      max-width: 100% !important;
    }
  }
}

.singular {
  .entry-header {
    display: none;
  }
}

/* ----------------------------------------
  DEFAULT FOCUS OVERRIDE
---------------------------------------- */

.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}
