.homepage-intro {
  .section__inner {
    @include containerWidth();

    @include mq("tablet", "min") {
      display: flex;
      align-items: center;
    }

    p {
      font-family: $heading-font-face;
      font-size: 30px;
      line-height: 140%;
      color: color("grey");
      font-style: italic;
      font-weight: 300;
      text-align: center;

      @include mq("tablet", "min") {
        text-align: left;
      }
    }
  }

  &__image-wrapper {
    @include position;
    @include size(200px);
    margin-bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);

    @include mq("tablet", "min") {
      margin-right: 2rem;
      margin-bottom: 0;
      left: 0%;
      @include size(300px);
      transform: translateX(0%);
    }

    &:before,
    &:after {
      content: "";
      @include position(absolute, 50%, 50%);
      transform-origin: center;
      transform: rotate(45deg);
      margin-left: -60px;
      margin-top: -60px;
      @include size(120px);

      @include mq("tablet", "min") {
        margin-left: -95px;
        margin-top: -95px;
        @include size(190px);
      }
    }

    &:before {
      border: 1px solid color("white");
      z-index: 3;
    }

    &:after {
      background: color("white");
      z-index: 0;
      box-shadow: 0px 4px 20px 14px rgba(0, 0, 0, 0.25);
    }

    .diamond-bg {
      content: "";
      @include position(absolute, 20%, auto, auto, 0);
      transform-origin: center;
      transform: rotate(45deg);
      @include size(120px);
      margin-left: -10px;
      margin-bottom: -0px;
      background-color: color("secondary-light");

      @include mq("tablet", "min") {
        @include size(160px);
        margin-left: -30px;
        margin-bottom: -20px;
      }
    }
  }

  &__image {
    @include position;
    object-fit: cover;
    clip-path: polygon(100px 0%, 200px 100px, 100px 200px, 0% 100px);
    min-height: 200px;
    min-width: 200px;
    z-index: 2;

    @include mq("tablet", "min") {
      clip-path: polygon(150px 0%, 300px 150px, 150px 300px, 0% 150px);
      min-height: 300px;
      min-width: 300px;
    }
  }
}
