.entry-header {
  h1 {
    color: color('primary');
  }
}

.single-team,
.page-template-team-overview {
  .wp-block-group.hvv.intro.alignfull {
    max-width: none;

    .wp-block-group__inner-container {
      @include containerWidth;
      padding: 0 2rem;

      p:first-child {
        font-family: $heading-font-face;
        font-weight: 300;
        @include font-size(24px);
        color: color('grey');
        line-height: 160%;
        max-width: 450px !important;
        margin: -3rem 0 2rem 0 !important;
        // margin-top: -4rem;

        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
    @include mq('tablet', 'max') {
      padding-top: 140px;
    }
  }
}

.page-template-team-overview {
  .wp-block-group.hvv.intro.alignfull {
    .wp-block-group__inner-container {
      p {
        max-width: 650px !important;
      }
    }
  }
}

.single-team {
  .entry-content {
    .wp-block-group.alignfull.hvv {
      .wp-block-group__inner-container {
        @include containerWidth();

        p {
          margin-left: 0 !important;
        }
        padding: 0 2rem;

        .wp-block-group__inner-container {
          padding: 0;
        }
      }
    }
  }
}

section.section.team {
  margin-top: 64px;
}

section > [class*='__inner'] {
  @include containerWidth;
}

.page-template-team-overview {
  .post-thumbnail {
    img {
      max-width: 160%;
      height: 100%;
      object-fit: cover;
    }

    @include mq('tablet', 'max') {
      right: -100px;
      top: -0px;
      width: 224px !important;
      height: 224px !important;
    }
  }
  .post-thumbnail-diamond-shadow {
    @include mq('tablet', 'max') {
      @include size(140px);
      right: -60px;
      top: 62px;
    }
  }
}

/* ----------------------------------------
  BOARD MEMBERS & Ambassador CTA
---------------------------------------- */
.page-template-team-overview {
  .section.board-ambassadors-cta {
    .column-wrapper {
      @include mq('tablet', 'min') {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
      }
    }

    .column {
      &:last-child {
        margin-top: 4rem;

        @include mq('tablet', 'min') {
          margin-top: 0;
        }
      }

      .column__inner {
        padding: 2rem;
        box-shadow: 6px 10px 20px 2px rgba(0, 0, 0, 0.14);
        figure {
          // width: calc(100% + 4rem);
          height: 240px;

          margin-left: -3rem;
          margin-top: -1rem;
        }
        img {
          box-shadow: 6px 10px 20px 2px rgba(0, 0, 0, 0.14);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h3 {
        @include font-size(24px);
        line-height: 160%;
        color: color('secondary');
        margin-bottom: 2rem;

        a {
          font-family: $heading-font-face;
          color: color('grey');
          text-decoration: none;

          &:hover {
            color: color('secondary');
          }
        }
      }

      p,
      a {
        margin-top: 2rem;
        font-family: $primary-font-face;
        font-weight: 300;
      }

      a.readmore {
        color: color('secondary');
        text-decoration: none;
        position: relative;

        .icon {
          position: relative;
          top: 7px;
          @include transition;
        }

        &:hover {
          .icon {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

/* ----------------------------------------
  BOARD MEMBERS & Ambassador INTRODUCTIONS
---------------------------------------- */

.page-template-team-overview {
  section.section.team {
    margin-bottom: 0;
  }

  section.section.team-board {
    margin-top: 0;

    .section__inner {
      .textcontent {
        h3 {
          color: color('primary');
          font-weight: 900;
        }
        max-width: 716px;
        margin-bottom: 6rem;
      }
    }
  }
}
