.entry-header {
  h1 {
    color: color("primary");
  }
}

.single-team,
.page-template-team-overview {
  .wp-block-group.hvv.intro.alignfull {
    max-width: none;

    .wp-block-group__inner-container {
      @include containerWidth;
      padding: 0 2rem;

      p {
        font-family: $heading-font-face;
        font-weight: 300;
        @include font-size(24px);
        color: color("grey");
        line-height: 160%;
        max-width: 450px !important;
        margin: -3rem 0 2rem 0 !important;
        // margin-top: -4rem;
      }
    }
  }
}

.page-template-team-overview {
  .wp-block-group.hvv.intro.alignfull {
    .wp-block-group__inner-container {
      p {
        max-width: 650px !important;
      }
    }
  }
}

.single-team {
  .entry-content {
    .wp-block-group.alignfull.hvv {
      .wp-block-group__inner-container {
        @include containerWidth();

        p {
          margin-left: 0 !important;
        }
        padding: 0 2rem;

        .wp-block-group__inner-container {
          padding: 0;
        }
      }
    }
  }
}

section.section.team {
  margin-top: 64px;
}

section > [class*="__inner"] {
  @include containerWidth;
}

.page-template-team-overview {
  .post-thumbnail {
    img {
      max-width: 160%;
      height: auto;
      object-fit: cover;
    }
  }
}

/* ----------------------------------------
  BOARD MEMBERS
---------------------------------------- */

.page-template-team-overview {
  section.section.team {
    margin-bottom: 0;
  }

  section.section.team-board {
    margin-top: 0;

    .section__inner {
      .textcontent {
        h3 {
          color: color("primary");
          font-weight: 900;
        }
        max-width: 816px;
        margin-bottom: 6rem;
      }
    }
  }
}
