section.join {
  background-image: url("./../../assets/images/join/join-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 64px;

  .section__inner {
    @include innerspace(8rem, 2rem);
  }

  .join-container {
    border-radius: 5px;
    background: color("white");
    @include innerspace(6rem, 2rem);
    text-align: center;
    @include card-shadow(3);
  }

  h4 {
    font-family: "Arial Black";
    color: color("primary");
    @include font-size(56px);
  }

  p {
    @include font-size(16px);
    @include outerspace(4rem, auto);
    margin-bottom: 3rem;
    line-height: 28px;

    @include mq("tablet", "min") {
      width: 60%;
    }
  }
}
