// Main Navigation container
.navigation {
  .sub-menu-toggle {
    display: none;
  }
}

// Trigger Button
.navigation-trigger-wrapper {
  @include position(fixed, 0px, 0px);
  @include size(190px, 190px);
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 999;
  -webkit-backface-visibility: hidden;

  &:before {
    content: '';
    // width: 0;
    // height: 0;
    // border-style: solid;
    // border-width: 185px 185px 0 0;
    // border-color: #007bff transparent transparent transparent;
    // @include position(absolute);
    // text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    @include size(240px);
    transform: rotate(-45deg);
    @include card-shadow(5);
    @include position(absolute, -122px, -122px);
    background-color: #ffffff;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.23);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.123);
  }

  .hamburger {
    @include size(40px);
    @include position(relative, 22px, 28px);
    background: none;

    span {
      @include position(absolute, 8px, 21px);
      @include size(24px, 1px);
      @include transition;
      transform-origin: 50%;
      display: block;
      background: #0b0b0b;

      &:first-child {
        top: 11px;
      }
      &:last-child {
        top: 31px;
      }
      &:nth-child(2) {
        width: 16px;
      }
    }
  }

  .hamburger {
    &.is-open {
      span:first-child,
      span:last-child {
        transform: rotate(45deg);
        top: 17px;
        left: 6px;
        width: 23px;
      }
      span:last-child {
        transform: rotate(-45deg);
        top: 16px;
      }

      span:nth-child(2) {
        width: 0px;
      }
    }
  }

  .hamburger {
    &:focus,
    &:active {
      outline: none;
    }
  }
}

// The (fullscreen) menu container, socials
.primary-menu-container {
  @include flex-center('center');
  @include position(fixed, 0px, 0px);
  @include size(100vw, 100vh);
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  flex-direction: column;
  color: color('white');
  background-color: color('secondary');
  background-image: url('../../assets/images/ui/menu-background-main.svg');
  background-position: 100% 100%;
  background-size: 60%;
  background-repeat: no-repeat;
  display: flex;
  height: 0;
  z-index: 998;

  .primary-menu {
    opacity: 0;
    transform: translateY(10px);
    @include transition(all, 0.2s, ease-out, 0s);

    @include mq('tablet-wide', 'max') {
      padding-top: 8rem;
    }
  }

  &.is-open {
    display: flex;
    height: 100vh;

    .primary-menu {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .menu-item {
    a {
      @include position;
      color: color('white');
      font-family: $heading-font-face;
      font-weight: 900;

      &:hover {
        text-decoration: none;

        &:before {
          transform: rotate(135deg);
          opacity: 1;
          left: -24px;
        }
      }

      &:before {
        content: '';
        @include position(absolute, -32px, 10px);
        @include size(12px);
        @include transition;
        transform: rotate(45deg);
        opacity: 0;
        transform-origin: center;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid #fff;
      }
    }
    // submenu
    .menu-item {
      a:before {
        top: 6px;
      }
    }
  }

  // ACTIVE STATES
  .menu-item {
    &.current-page-parent {
      & > a:before {
        transform: rotate(135deg);
        opacity: 1;
        left: -24px;
      }
    }

    &.current-menu-item {
      & > a:before {
        transform: rotate(135deg);
        opacity: 1;
        left: -24px;
      }
    }
  }

  .socials {
    padding-top: 2rem;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    @include mq('tablet', 'min') {
    }
  }

  .container__inner {
    @include transition;
    @include mq('tablet', 'min') {
      transform: translateX(-100%);
    }
  }
}

.menu-wrapper {
  @include mq('tablet', 'min') {
    //transform: translateX(-100%);
  }

  & > li {
    margin-bottom: 1.5rem;
    @include font-size(24px);
    font-weight: 100;

    li {
      @include font-size(18px);
    }
  }
}

/* ----------------------------------------
  SUBMENU
---------------------------------------- */

.menu-wrapper {
  & > li {
    li.menu-item {
      @include font-size(18px);
      margin-bottom: 1rem;
      margin-left: 1rem;

      &:first-child {
        margin-top: 1rem;
      }

      a {
        font-weight: 400;
      }
    }
  }
}
