// Main Navigation container
.navigation {
}

// Trigger Button
.navigation-trigger-wrapper {
  @include position(fixed, 0, 0);
  @include size(234px, 234px);
  background-image: url("../../assets/images/ui/menu-background-2.svg");
  background-repeat: no-repeat;
  z-index: 999;

  .hamburger {
    @include size(40px);
    @include position(relative, 22px, 28px);
    background: none;

    span {
      @include position(absolute, 8px, 21px);
      @include size(24px, 1px);
      display: block;
      background: #0b0b0b;

      &:first-child {
        top: 11px;
      }
      &:last-child {
        top: 31px;
      }
      &:nth-child(2) {
        width: 16px;
      }
    }
  }

  .hamburger {
    &:focus,
    &:active {
      outline: none;
    }
  }
}

// The (fullscreen) menu container, socials
.primary-menu-container {
  @include flex-center("center");
  @include position(fixed, 0, 0);
  @include size(100vw, 100vh);
  flex-direction: column;
  color: color("white");
  background-color: color("secondary");
  background-image: url("../../assets/images/ui/menu-background-main.svg");
  background-position: 100% 100%;
  background-size: 60%;
  background-repeat: no-repeat;
  display: none;
  z-index: 998;

  &.is-open {
    display: flex;
  }

  .menu-item {
    a {
      @include position;
      color: color("white");
      font-family: $heading-font-face;
      font-weight: 900;

      &:hover {
        text-decoration: none;

        &:before {
          transform: rotate(135deg);
          opacity: 1;
          left: -24px;
        }
      }

      &:before {
        content: "";
        @include position(absolute, -32px, 10px);
        @include size(12px);
        @include transition;
        transform: rotate(45deg);
        opacity: 0;
        transform-origin: center;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid #fff;
      }
    }
    // submenu
    .menu-item {
      a:before {
        top: 6px;
      }
    }
  }

  .socials {
    padding-top: 2rem;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    @include mq("tablet", "min") {
    }
  }

  .container__inner {
    @include transition;
    @include mq("tablet", "min") {
      transform: translateX(-100%);
    }
  }
}

.menu-wrapper {
  @include mq("tablet", "min") {
    //transform: translateX(-100%);
  }

  & > li {
    margin-bottom: 1.5rem;
    @include font-size(24px);
    font-weight: 100;

    li {
      @include font-size(18px);
    }
  }
}

/* ----------------------------------------
  SUBMENU
---------------------------------------- */

.menu-wrapper {
  & > li {
    li.menu-item {
      @include font-size(18px);
      margin-bottom: 1rem;
      margin-left: 1rem;

      &:first-child {
        margin-top: 1rem;
      }

      a {
        font-weight: 400;
      }
    }
  }
}
